@{
    ViewData["Title"] = "Web info";
}


<h3><i class="fa fa-comment"></i> <span id="notice" class="page-title">Contact</span></h3>

<ul>
    <li>
        <p>If  you have any problem. Please contact with </p><address><a href="mailto:Adele_Lu@jabil.com">Adele_Lu@jabil.com.</a><br /></address>
    </li>
    @*<li>
        <p>
            If you have to add new webs or modify web information. Please fill this <a href="~/files/FATP Web Portal List Demo.xlsx" title="Application Portal Demo File"><b>file</b></a>  and submit to <address><a href="mailto:Adele_Lu@jabil.com">Adele_Lu@jabil.com.</a><br /></address>
        </p>
    </li>*@
</ul>