@{
    ViewBag.Title = "Create Downtime Incident";
}
<div class="container-fluid" style="width:50vw">
    <div class="row">
    <div class="col-lg-12" id="createIncident">
        <h4 style="text-align:center">@ViewData["Title"]</h4>
        <form class="panel-body" id="myForm">

            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6">
                <label class="form-label warning-text">部门 Department:</label>
                <select id="department-select" class="form-control selectpicker noNull" noNull="部门 Department" title="Select Department" data-size="6" data-max-options="1" data-live-search="true" onchange="getErrorCode($('#issue-select'),$('#department-select').val(),$('#machine-select').find(':selected').data('vbnumber'))"></select>
            </div>
            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6">
                <label class="form-label warning-text">项目 Project:</label>
                <select id="project-select" class="form-control selectpicker noNull" noNull="项目 Project" title="Select Project" data-size="6" data-max-options="1" data-live-search="true" onchange="getMachine($('#station-select').val(),$('#line-select').val(),$('#project-select').val(),$('#machine-select')),getStation1($('#station-select'),$('#project-select').val(),$('#line-select').val()),getLine1($('#line-select'),$('#project-select').val())"> </select>
            </div>
            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6">
                <label class="form-label warning-text">线 Line:</label>
                <select id="line-select" class="form-control selectpicker noNull" noNull="线 Line" title="Select Line" data-size="6" data-max-options="1" data-live-search="true" onchange=" getMachine($('#station-select').val(),$('#line-select').val(),$('#project-select').val(),$('#machine-select')),getStation1($('#station-select'),$('#project-select').val(),$('#line-select').val())"></select>
            </div>
            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6">
                <label class="form-label warning-text">站位 Station:</label>
                <select id="station-select" class="form-control selectpicker noNull" noNull="站位 Station" title="Select Station" data-size="6" data-max-options="1" data-live-search="true" onchange="getMachine($('#station-select').val(),$('#line-select').val(),$('#project-select').val(),$('#machine-select'))"></select>
            </div>

            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6">
                <label class="form-label warning-text">机器 Machine:</label>
                <select id="machine-select" class="form-control selectpicker noNull" noNull="机器 Machine" title="Select Machine" data-size="6" data-max-options="1" data-live-search="true" onchange="getErrorCode($('#issue-select'),$('#department-select').val(),$('#machine-select').find(':selected').data('vbnumber'))"></select>
            </div>
            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6 ">
                <label class="form-label warning-text" for="creator">创建人 Creator: </label>
                <input type='text' class="form-control noNull" noNull="创建人 Creator" data-remark="创建人" id='creator' placeholder="--请输入创建人姓名/工号 --" />
            </div>

            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6">
                <label class="form-label warning-text">问题分类 Issue category:</label>
                <select id="issue-select" class="form-control selectpicker noNull" noNull="问题分类 Issue category" title="Select Issue" data-size="6" data-max-options="1" data-live-search="true" onchange="$('#issuedescription').val($('#issue-select').find(':selected').data('issue'))"></select>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
                <label class="form-label" for="issuedescription">问题描述 Issue Description: </label>
                <input type='text' class="form-control" id='issuedescription' placeholder="---请输入问题描述---" />
            </div>
            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6">
                <label for="startdate" class="form-label warning-text">开始时间 Start Time:</label>
                <div class='input-group date form_datetime'>
                    <input type='text' class="form-control need create-input noNull" noNull="开始时间 Start Time" data-remark=" Downtime 发生时间" id='startdate' />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6 ">
                <label class="form-label" for="howmuch">不良次数 How Much: </label>
                <input type='text' class="form-control" id='howmuch' placeholder="---请输入导致了多少不良---" />
            </div>
            <div class="col-lg-6  col-md-6 col-xl-6 col-sm-6 ">
                <label class="form-label" for="howoften">频次 How Often: </label>
                <input type='text' class="form-control" id='howoften' placeholder="---请输入发生频次---" />
            </div>
            <div class="col-lg-12 row" style="margin-top: 10px;">
                <div class="col-lg-6 col-md-6 col-xl-6 col-sm-6" style="display: flex; justify-content: center; "><button type="button" class="btn btn-success" onclick="submitForm1()">Submit（Use ecalling）</button></div>
                <div class="col-lg-6 col-md-6 col-xl-6 col-sm-6" style="display: flex; justify-content: center; "><button type="button" class="btn btn-primary" onclick="submitForm2()">Submit（Not used ecalling）</button></div>
            </div>
            @*<div class="col-lg-1 col-xs-2 col-sm-1 col-md-1">
            <button id="addbtn" class="btn btn-success mybtn" type="button">Add</button>
        </div>*@

        </form>
    </div>
</div>
</div>






    <script src="~/lib/bootstrap/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/js/customer.js"></script>
   
    
    <script src="~/lib/bootstrap/dist/js/bootstrap-table.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/FileSaver.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/xlsx.core.min.js"></script>
    <script>
        $(document).ready(function () {
            let id = GetParms("ticket");
            if (id != "" && id != null && id != 'undefined') {
                $("#id").val(id);
                GetDowntimeList();
            }
            iniDatetimepicker_withTime();
            GeteCallingDepartment($("#department-select"));
           
            GeteCallingLine($('#line-select'));
            GeteCallingProject($('#project-select'));
           
            GeteCallingStation($('#station-select'));
            GeteCallingErrocCode($('#issue-select'));
            GeteCallingMachine($('#machine-select'));
          

        });

        function submitForm1() {
            // 提交表单
            getData("http://cnwuxg0te01:9000/api/Downtime/Query_LastIncdentByFilter", { Machine: $('#machine-select').val() })
                .then(row => {
                    if (row['incidentstatus'] >= 2) {

                        // 显示成功消息
                        if (checkFormNoNull("#createIncident")) {
                            let urlstring = "comfrom=Downtime System&department=" + $("#department-select").val() + "&machine=" + $("#machine-select").val()
                                + "&ErrorCode=" + $("#issue-select").val() + "&ErrorDescription=" + $("#issuedescription").val() + "&Server=" + $("#machine-select").find(":selected").data("server")
                                + "&isDowntime=" + Boolean($("#issue-select").find(":selected").data("isdowntime"))
                            postDatatoAPI("http://cnwuxm1tes05/eCalling/InsertData2?" + urlstring)
                                .then(res => {
                                    console.log(res);
                                    return getData("http://cnwuxg0te01:9000/api/Downtime/Query_LastIncdentByFilter", { Machine: $('#machine-select').val() })

                                    // 将结果传递给下一个 .then() 方法
                                })
                                .then(data => {
                                    const startDateValue = $("#startdate").val(); // 获取 #startdate 元素的值
                                    const startDate = new Date(startDateValue); // 创建 Date 对象


                                    data.occurtime = formatDateToString(startDate); // 赋值给 data.occurtime
                                    data.creator = $("#creator").val();
                                    data.frequency = Number($("#howoften").val());
                                    data.pieces = Number($("#howmuch").val()); // 可能会引发异常的代码  //
                                    console.log(data);
                                    return postDataWithArray("http://cnwuxg0te01:9000/api/Downtime/Update", data);
                                })
                                .then(res => {
                                    showSuccess("提交成功");
                                    document.getElementById("myForm").submit();
                                })
                                .catch(err => {
                                    showError(err);
                                });
                        }
                    }
                    else {
                        showWarning("同机器有Downtime未关闭 !");
                    }

                })
                }
        function submitForm2() {
            getData("http://cnwuxg0te01:9000/api/Downtime/Query_LastIncdentByFilter", { Machine: $('#machine-select').val() })
                .then(row => {
                    if (row['incidentstatus'] >= 2) {

                        if (checkFormNoNull("#createIncident")) {
                            const startDateValue = $("#startdate").val(); // 获取 #startdate 元素的值
                            const startDate = new Date(startDateValue); // 创建 Date 对象


                            occurtime = formatDateToString(startDate);
                            postDataWithArray("http://cnwuxg0te01:9000/api/Downtime/Add", {
                                comefrom: 'Downtime System',
                                department: $("#department-select").val(),
                                machine: $("#machine-select").val(),
                                alarmtype: 'manually alarm',
                                creator: $("#creator").val(),
                                frequency: Number($("#howoften").val()),
                                pieces: Number($("#howmuch").val()),
                                occurtime: formatDateToString(startDate),
                                issue: $("#issue-select").val(),
                                issueremark: $("#issuedescription").val(),
                                line: $("#line-select").val(),
                                project: $("#project-select").val(),
                                station: $("#station-select").val(),
                            })
                                .then(res => {
                                    showSuccess("提交成功");
                                    document.getElementById("myForm").submit();
                                })
                                .catch(err => {
                                    showError(err);
                                });
                        }
                    }
                    else {
                        showWarning("同机器有Downtime未关闭 !");
                    }
                })
}



        
       
    </script>



