@{
    ViewData["Title"] = "Dashboard";
}
<div class="row" style="margin-right: 0px">
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
        <label class="form-label"> *Project:</label>
        <select id="project-select" class="form-control selectpicker" title="Select Project" data-size="6" multiple data-max-options="1" data-live-search="true" onchange="updateChart()">
            <option value="FATP M52">M52</option>
            <option value="FATP M58">M58</option>
            <option value="FATP AOP">AOP</option>
        </select>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
        <label class="form-label" for="start"> *Start Date:</label>
        <div class='input-group date form_datetime'>
            <input type='text' class="form-control" id='start' onchange="updateChart()"/>
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
        <label class="form-label" for="end"> *End Date </label>
        <div class='input-group date form_datetime'>
            <input type='text' class="form-control" id='end' onchange="updateChart()"/>
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="row" style="margin-right: 0px; margin-top:5px;">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div id="chart1" class="mychart" style="width:100%;height:300px"> Top Five Error Code</div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div id="chart2" class="mychart" style="width:100%;height:300px"> Downtime Open & Close </div>
    </div>
</div>
<div class="row" style="margin-right: 0px; margin-top: 2px;">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div id="chart3" class="mychart" style="width:100%;height:300px"> Top Five Station with Downtime</div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div id="chart4" class="mychart" style="width:100%;height:300px">Total Downtime per Functional Team</div>
    </div>
</div>



<div class="modal fade" id="ListModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 80%;min-width:150px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalName" style="text-wrap:normal">Detail Information </h5>
            </div>
            <div class="modal-body row">
                <div style="height:70vh;overflow-y:scroll">
                    <table id="detaillist"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap-table.js"></script>
<script src="~/lib/echarts/dist/js/echarts.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>

<script src="~/js/customer.js"></script>
<script src="~/js/dashboard.js"></script>
<script>
    $(document).ready(function () {
        iniDatetimepicker();
        var today = new Date();
        var lastthirtyDay = new Date(today.getTime() - 5184000000);
        $("#start").val(lastthirtyDay.getFullYear() + "-" + (lastthirtyDay.getMonth() + 1).toString() + "-" + lastthirtyDay.getDate());
        $("#end").val(today.getFullYear() + "-" + (today.getMonth() + 1).toString() + "-" + today.getDate());
        gettopErrorcode_bycount(new Array(), $("#start").val(), $("#end").val());
        getOpenCloseCount(new Array(), $("#start").val(), $("#end").val());
        gettopErrorCode_byDowntime(new Array(), $("#start").val(), $("#end").val());
        getDowntime_byDepartment(new Array(), $("#start").val(), $("#end").val());
    })
    function updateChart() {
        if ($("#start").val() > $("#end").val()) {
            alert("开始时间要小于结束时间，请重新选择时间段");
        }
        else {
            gettopErrorcode_bycount($("#project-select").val(), $("#start").val(), $("#end").val());
            getOpenCloseCount($("#project-select").val(), $("#start").val(), $("#end").val());
            gettopErrorCode_byDowntime($("#project-select").val(), $("#start").val(), $("#end").val());
            getDowntime_byDepartment($("#project-select").val(), $("#start").val(), $("#end").val());
        }
    }
</script>