@{
    ViewData["Title"] = "Employee Work";
}
@*菜单*@
<div class="row" style="margin-right: 0px;">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <a style="float:right"><i class="fa fa-cog" id="searchBox"></i></a>
    </div>
</div>
<div class="row elehide" style="margin-right: 0px" id="searchBoxMenu">
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4" style="display:none">
        <label class="form-label"> System:</label>
        <select id="system-select" class="form-control selectpicker" title="Select System" data-size="6" multiple data-max-options="1" onchange="updateChart()">
        </select>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
        <label class="form-label"> Department:</label>
        <select id="department-select" class="form-control selectpicker" title="Select Department" data-size="6" multiple data-live-search="true" data-none-selected-text="All" data-actions-box="true" onchange="updateChart()"></select>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
        <label class="form-label"> Project:</label>
        <select id="project-select" class="form-control selectpicker" title="Select Project" data-size="6" multiple data-live-search="true" data-none-selected-text="All" data-actions-box="true" onchange="updateChart()"></select>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
        <label class="form-label" for="end"> Refresh Time (mins): </label>
        <input type='number' class="form-control" id='refresh-input' onchange="setrefresh()" value="5" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" />
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
        <label class="form-label"> Time Range:</label>
        <select id="timeZone" class="form-control selectpicker" title="Select Time Zone" data-size="6" data-max-options="1" onchange="updateTime()">
            <option value="1">Current Week</option>
            <option value="4">Last Week</option>
            <option value="2">Current Month</option>
            <option value="3">Last Month</option>
            <option value="0">Customize</option>
            <option value="5">Today</option>
        </select>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 invisible">
        <label class="form-label" for="start"> Start Date:</label>
        <div class='input-group date form_datetime'>
            <input type='text' class="form-control" id='start' onchange="updateChart()" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 invisible">
        <label class="form-label" for="end"> End Date: </label>
        <div class='input-group date form_datetime'>
            <input type='text' class="form-control" id='end' onchange="updateChart()" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
</div>

@*图表*@
<div class="row" style="margin-right: 0px; margin-top:10px;">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="chart1" class="mychart" style="width:100%;height:500px"> Employee Work Effiency</div>
    </div>
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap-table.js"></script>
<script src="~/lib/echarts/dist/js/echarts.js"></script>
<script src="~/js/customer.js"></script>
<script src="~/js/dashboard_EmployeeWork.js"></script>
<script>
    var interval;
    $(document).ready(function () {
        getProject($("#project-select"));
        getDepartment($("#department-select"));
        getDashboardSystem($("#system-select"));
        iniDatetimepicker();
        //chartssize($("#chartbox"), $(".mychart"));
        $("#timeZone option[value='5']").attr("selected", true);
        $("#timeZone").selectpicker('refresh');
        $("#timeZone").trigger("onchange");
        interval = setInterval(function () {
            updateChart();
        }, 300000);
    })

    function updateTime() {
        var today = new Date()
        $("#start").parent().parent().addClass("invisible");
        $("#end").parent().parent().addClass("invisible");
        switch ($("#timeZone").val()) {
            case "0": //Last Month
                $("#start").parent().parent().removeClass("invisible");
                $("#end").parent().parent().removeClass("invisible");
                showSuccess("自定义时间范围");
                break;
            case "1": //Current Week
                var dayOfWeek = today.getDay();
                if (dayOfWeek == 0) dayOfWeek = 7;
                var lastDay = new Date(today.getTime() - (dayOfWeek - 1) * 86400000); //本周的第一天
                $("#start").val(lastDay.format("yyyy-MM-dd"));
                $("#end").val(today.format("yyyy-MM-dd"));
                showSuccess("显示本周数据");
                break;
            case "4": //Last Week
                var dayOfWeek = today.getDay();
                if (dayOfWeek == 0) dayOfWeek = 7;
                var endDay = new Date(today.getTime() - (dayOfWeek) * 86400000); //上周最后一天
                var startDay = new Date(today.getTime() - (dayOfWeek + 6) * 86400000); //上周第一天
                $("#start").val(startDay.format("yyyy-MM-dd"));
                $("#end").val(endDay.format("yyyy-MM-dd"));
                showSuccess("显示上周数据");
                break;
            case "2": //Current Month
                $("#start").val(new Date(today.getFullYear() + "-" + (today.getMonth() + 1).toString() + "-01").format("yyyy-MM-dd"));
                $("#end").val(today.format("yyyy-MM-dd"));
                showSuccess("显示本月数据");
                break;
            case "3": //Last Month
                $("#start").val(new Date(today.getFullYear() + "-" + (today.getMonth()).toString() + "-01").format("yyyy-MM-dd"));
                var EndOfMonth = new Date();
                EndOfMonth.setDate(0);   //上个月的最后一天
                $("#end").val(EndOfMonth.format("yyyy-MM-dd"));
                showSuccess("显示上月数据");
                break;
            case "5": //Current Day
                $("#start").val(today.format("yyyy-MM-dd"));
                $("#end").val(today.format("yyyy-MM-dd"));
                showSuccess("显示当天数据");
                break;
            default:
                break;
        }
        updateChart();
    }

    function setrefresh() {
        if ($("#refresh-input").val() <= 0) {
            showWarning("刷新时间必须大于0");
            return;
        }
        clearInterval(interval);
        var min = $("#refresh-input").val() * 60 * 1000;
        interval = setInterval(function () {
            updateChart();
        }, min);
        showSuccess("页面刷新时间设定完成，每 " + $("#refresh-input").val() + " 分钟刷新一次");
    }

    function updateChart() {
        if (Date.parse($("#start").val()) > Date.parse($("#end").val())) {
            showWarning("开始时间要小于结束时间，请重新选择时间段");
        }
        else {
            let start = $("#start").val() + " 00:00:00";
            let end = $("#end").val() + " 23:59:59";
            EmployeeWorkEffiency($("#system-select").val()[0], $("#project-select").val(), $("#department-select").val(), start, end);
        }
    }
</script>