@{
    ViewData["Title"] = "Action Step Maintains";
}

<div class="container-fluid">
    <div class="panel-default">
        <div class="panel-heading"><i class="fa fa-cogs "></i> @ViewData["Title"]</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2" style="display:none">
                    <label class="form-label"> System:</label>
                    <select id="system-select" class="form-control selectpicker" title="Select System" data-size="6" multiple data-max-options="1">
                    </select>
                </div>
                <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                    <label class="form-label"> Department:</label>
                    <select id="department-select" class="form-control selectpicker" title="Select Department" data-size="6" multiple data-max-options="1" data-live-search="true"></select>
                </div>
                <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                    <label class="form-label"> Project:</label>
                    <select id="project-select" class="form-control selectpicker" title="Select Project" data-size="6" multiple data-max-options="1" data-live-search="true" onchange="getLine($('#line-select'),$('#project-select').val()); getStation($('#station-select'), $('#department-select').val(), $('#project-select').val(),$('#line-select').val())"> </select>
                </div>
                <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                    <label class="form-label"> Line:</label>
                    <select id="line-select" class="form-control selectpicker" title="Select Line" data-size="6" multiple data-max-options="1" data-live-search="true" onchange=" getStation($('#station-select'), $('#department-select').val(), $('#project-select').val(),$('#line-select').val());"></select>
                </div>
                <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                    <label class="form-label"> Station:</label>
                    <select id="station-select" class="form-control selectpicker" title="Select Station" data-size="6" multiple data-max-options="1" data-live-search="true"></select>
                </div>
                <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                    <label class="form-label"> Defect Code:</label>
                    <input type="text" class="form-control " id="defect-input" placeholder="Defect Input" />
                </div>
                <div class="col-lg-1  col-xs-1 col-sm-1 col-md-1" style="padding-top:27px"><button type="button" class="btn btn-primary" id="analysis" onclick="GetIssueSummary()">Search</button></div>
            </div>
        </div>
    </div>
</div>

<table id="dtAnalysis"></table>

<div class="alert"></div>

<script src="~/js/customer.js"></script>
<script src="~/js/cookie.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-table.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-editable.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-table-editable.js"></script>

<script>
    $(document).ready(function () {
        getDepartment($("#department-select"));
        getLine($('#line-select'));
        getProject($('#project-select'));
        getStation($('#station-select'));
    });

    function GetIssueSummary() {
        $("#dtAnalysis").bootstrapTable('destroy').bootstrapTable({
            cache: false,
            type: 'GET',
            url: '/IssueSummary/GetIssueSummary',
            queryParams: {
                Department: $("#department-select").val()[0],
                Project: $("#project-select").val()[0],
                Line: $("#line-select").val()[0],
                Station: $("#station-select").val()[0],
                issue: $("#defect-input").val()
            },
            dataType: 'json',
            columns: [
                {
                    field: 'department',
                    title: 'Department',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'project',
                    title: 'Project',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'line',
                    title: 'Line',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'station',
                    title: 'Station',
                    align: 'center',
                    valign: 'middle',
                },{
                    field: 'issue',
                    title: 'Defect Code',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'rootcause',
                    title: 'Root Cause',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'qty',
                    title: 'QTY',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'totaldowntime',
                    title: 'Total Downtime',
                    align: 'center',
                    valign: 'middle',
                    visible:false,
                }, {
                    field: 'action',
                    title: 'Analysis Steps',
                    align: 'center',
                    valign: 'middle',
                    editable: {
                        title: 'Action',
                        type: 'textarea',
                        mode: 'inline',
                    }
                }, {
                    field: 'correctiveaction',
                    title: 'Corrective Action',
                    align: 'center',
                    valign: 'middle',
                    editable: {
                        title: 'Action',
                        type: 'textarea',
                        mode: 'inline',
                    }
                }, {
                    field: 'editor',
                    title: 'Editor',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'lastupdatedate',
                    title: 'Update Time',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        return new Date(value).format('yyyy-MM-dd hh:mm:ss');
                    },
                }],
            onEditableSave: function (field, row, oldValue, $el) {
                console.log(field);
                var tmp = {
                    id: row['id'],
                    action: row['action'],
                    correctiveaction: row['correctiveaction'],
                    editor: "Auto",//getCookie("dt-displayname"),
                }
                $.ajax({
                    url: '/IssueSummary/EditIssueSummary_Action',
                    method: 'POST',
                    data: tmp,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (err) {
                        alert(err.responseText);
                    },
                    complete: function (res) {
                        $("#dtAnalysis").bootstrapTable("refreshOptions", { url: "/IssueSummary/GetIssueSummary" });
                    }
                })
            },
        });
    }

</script>