@{
    ViewBag.Title = "Sparepart Change";
}
<div class="container-fluid">
    <div class="panel-default">
        <div class="panel-heading"><i class="fa fa-table "></i> @ViewBag.Title </div>
        <div class="panel-body row">
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-3">
                <label for="systemsele" class="form-label">System:</label>
                <select id="systemsele" class="form-control selectpicker" data-size="6" data-live-search="true" title="---Select System---" multiple data-max-options="1"></select>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-3">
                <label class="form-label"> Department:</label>
                <select id="department-select" class="form-control selectpicker" title="Select Department" data-size="6" multiple data-max-options="1" data-live-search="true" onchange='GetPMMSLine($("#line-select"),$("#department-select"),$("#project-select")); GetPMMSEQType($("#type-select"),$("#department-select"),$("#project-select"),$("#line-select")); GetEQID($("#eqid-select"),$("#department-select"),$("#project-select"),$("#line-select"),$("#type-select"));'></select>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                <label class="form-label"> Project:</label>
                <select id="project-select" class="form-control selectpicker" title="Select Project" data-size="6" multiple data-max-options="1" data-live-search="true" onchange='GetPMMSLine($("#line-select"),$("#department-select"),$("#project-select")); GetPMMSEQType($("#type-select"),$("#department-select"),$("#project-select"),$("#line-select")); GetEQID($("#eqid-select"),$("#department-select"),$("#project-select"),$("#line-select"),$("#type-select"));'> </select>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                <label class="form-label"> Line:</label>
                <select id="line-select" class="form-control selectpicker" title="Select Line" data-size="6" multiple data-max-options="1" data-live-search="true" onchange='GetPMMSEQType($("#type-select"),$("#department-select"),$("#project-select"),$("#line-select")); GetEQID($("#eqid-select"),$("#department-select"),$("#project-select"),$("#line-select"),$("#type-select"));'></select>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                <label class="form-label"> EQ Type:</label>
                <select id="type-select" class="form-control selectpicker" title="Select Line" data-size="6" multiple data-max-options="1" data-live-search="true" onchange='GetEQID($("#eqid-select"),$("#department-select"),$("#project-select"),$("#line-select"),$("#type-select"));'></select>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2">
                <label class="form-label"> EQID:</label>
                <select id="eqid-select" class="form-control selectpicker" title="Select Line" data-size="6" multiple data-max-options="1" data-live-search="true"></select>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-3">
                <label for="startdate" class="form-label">Start Date:</label>
                <div class='input-group date form_datetime'>
                    <input type='text' class="form-control" id='startdate' />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-3">
                <label for="enddate" class="form-label">End Date:</label>
                <div class='input-group date form_datetime'>
                    <input type='text' class="form-control" id='enddate' />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-xs-3 col-sm-3 col-md-3">
                <label for="pn-input" class="form-label">PN:</label>
                <input id="pn-input" type="text" class="form-control" placeholder="---Input PN---" />
            </div>
            <div class="col-lg-1 col-xs-2 col-sm-1 col-md-1">
                <button id="Searchbtn" class="btn btn-primary mybtn" type="button" onclick="SparepartChange_Table()"><i class="fa fa-search"></i> Search</button>
            </div>
            <div class="col-lg-1 col-xs-2 col-sm-1 col-md-1">
                <button id="Addbtn" class="btn btn-success mybtn" type="button" ><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </div>
    <table id="table" class="table table-hover table-striped"></table>
</div>


<div class="modal fade" id="CreateModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 50%;min-width:150px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title" style="text-wrap:normal">填写备件更换记录</h5>
                <button type="button" class="close" aria-label="关闭" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*Sparepart相关*@
                <div class="row">
                    <div class="col-lg-3">
                        <label for="ca-department" class="form-label text-right ">Department:</label>
                        <select class="form-control selectpicker" id='ca-department' data-size="6" title="--Select Department--" data-live-search="true" multiple data-max-options="1"  onchange="GetEQID($('#ca-machine'),$('#ca-department'), $('#ca-project'))"></select>
                    </div>
                    <div class="col-lg-3">
                        <label for="ca-project" class="form-label text-right">Project:</label>
                        <select class="form-control selectpicker" id='ca-project' data-size="6" title="--Select Project--"  data-live-search="true" multiple data-max-options="1" onchange="GetEQID($('#ca-machine'),$('#ca-department'), $('#ca-project'))"></select>
                    </div>
                    <div class="col-lg-3 ">
                        <label for="ca-category" class="form-label text-right">Category:</label>
                        <select class="form-control selectpicker" id='ca-category' data-size="6" title="--Select Category--" data-live-search="true" multiple data-max-options="1"  onchange="GetSPSubCategory($('#ca-subcategory'), $('#ca-category').val());GetAllPN($('#ca-pn'), $('#ca-category').val(),$('#ca-subcategory').val())"></select>
                    </div>
                    <div class="col-lg-3 ">
                        <label for="ca-subcategory" class="form-label text-right">Sub Category:</label>
                        <select class="form-control selectpicker" id='ca-subcategory' data-size="6" title="--Select Sub Category--" data-live-search="true" multiple data-max-options="1" onchange="GetAllPN($('#ca-pn'), $('#ca-category').val(),$('#ca-subcategory').val())"></select>
                    </div>
                    <div class="col-lg-3">
                        <label for="ca-machine" class="form-label text-right warning-text">Equipment ID:</label>
                        <select class="form-control noNull selectpicker" id='ca-machine' data-size="6" data-live-search="true" multiple data-max-options="1"  title="--Select EQID--" noNull="Equipment" onchange="GetEQIDLink_PN($('#ca-pn'), $('#ca-machine').val()[0])"></select>
                    </div>
                    <div class="col-lg-3 ">
                        <label for="ca-pn" class="form-label text-right warning-text">P_N:</label>
                        <select class="form-control selectpicker noNull" id='ca-pn' data-size="6" title="--Select PN--" data-live-search="true" noNull="PN" multiple data-max-options="1" >
                            <optgroup label="PN Linked with EQID"></optgroup>
                            <optgroup label="Other PN"></optgroup>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label for="ca-qty" class="form-label text-right warning-text">QTY:</label>
                        <input type='number' step="1" class="form-control noNull" id='ca-qty' noNull="QTY"/>
                    </div>
                    <div class="col-lg-3">
                        <label for="ca-employee" class="form-label text-right warning-text">Employee ID:</label>
                        <input type='text'  class="form-control noNull" id='ca-employee'  noNull="Employee ID"/>
                    </div>
                    <div class="col-lg-12">
                            <label for="ca-remark" class="form-label text-right">Remark:</label>
                            <textarea type='text' class="form-control" id='ca-remark'></textarea>
                        </div>
                    </div>
                @*Sparepart相关*@
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn_submit">Submit</button>
            </div>
        </div>
    </div>
</div>




<script src="~/js/customer.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-table.js"></script>

<script>
    $(document).ready(function () {
        GetSparepart_HistoryCfrom($("#systemsele"));
        GetPMMSDepartment($("#department-select"));
        GetPMMSProject($("#project-select"));
        GetPMMSLine($("#line-select"));
        GetPMMSEQType($("#type-select"));
        GetEQID($("#eqid-select"));
        iniDatetimepicker();
    });
    function SparepartChange_Table() {
        $("#table").bootstrapTable('destroy').bootstrapTable({
            url: 'http://cnwuxg0te01:9000/api/EqSparepartChange/Query_EqSparepartChangeHistory',
            queryParams: {
                cfrom: $("#systemsele").val()[0],
                department: $("#department-select").val()[0],
                project: $("#project-select").val()[0],
                line: $("#line-select").val()[0],
                Category: $("#type-select").val()[0],
                EQID: $("#eqid-select").val()[0],
                PN: $("#pn-input").val(),
                starttime: $("#startdate").val(),
                endtime: $("#enddate").val() + " 23:59:59",
            },
            dataType: 'json',
            cache: false,
            type: 'GET',
            width: '100%',
            search: true,                       //开启搜索框
            visibleSearch: true,
            showSearchButton: false,
            pagination: true,
            paginationLoop: false,
            pageSize: 10,
            pageList: '[10, 50 ,100 ,200, 500, ALL]',
            columns: [{
                field: 'cfrom',
                title: 'System',
            }, {
                field: 'eqid',
                title: 'EQID',
            }, {
                field: 'pn',
                title: 'PN',
            }, {
                field: 'desc',
                title: 'Description',
            }, {
                field: 'qty',
                title: 'QTY',
            }, {
                field: 'dri',
                title: 'DRI',
            }, {
                field: 'cdate',
                title: 'Create Date',
            }, {
                field: 'remark',
                title: 'Remark',
            }]
        })
    }
    $("#Addbtn").on('click', function () {
        GetPMMSDepartment($("#ca-department"));
        GetPMMSProject($("#ca-project"));
        GetEQID($("#ca-machine"));
        GetSPCategory($("#ca-category"));
        GetSPSubCategory($("#ca-subcategory"));
        GetAllPN($("#ca-pn"));
        $("#CreateModal").modal("show");
    })
    $("#btn_submit").on('click', function () {
        //提交备件更换记录
        if (checkFormNoNull("#CreateModal")) {
            $.ajax({
                url: 'http://cnwuxg0te01:9000/api/EqSparepartChange/Add_EqSparepartChangeHistory',
                method: 'POST',
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
                },
                data: JSON.stringify({
                    cfrom: "Other",
                    linkid: 0,
                    eqid: $("#ca-machine").val()[0],
                    pn: $("#ca-pn").val()[0],
                    dri: $("#ca-employee").val(),
                    qty: Number($("#ca-qty").val()),
                    remark: $("#ca-remark").val(),
                }),
                success: function (data) {
                    showSuccess("Sparepart 更换记录上传成功");
                    $("#CreateModal").modal("hide");
                    SparepartChange_Table();
                },
                error: function (err) {
                    showError(err.responseText);
                }
            })
        }
    })

</script>




