
.vs/DowntimeSystem/DesignTimeBuild/.dtbcache.v2
.vs/DowntimeSystem/DesignTimeBuild/.dtbcache.v2
.vs/DowntimeSystem/v16/.suo
DowntimeSystem/bin/Release/netcoreapp3.1/DowntimeSystem.Views.dll
DowntimeSystem/bin/Release/netcoreapp3.1/DowntimeSystem.Views.pdb
DowntimeSystem/obj/Release/netcoreapp3.1/DowntimeSystem.Views.dll
DowntimeSystem/obj/Release/netcoreapp3.1/DowntimeSystem.Views.pdb
DowntimeSystem/obj/Release/netcoreapp3.1/PubTmp/Out/DowntimeSystem.Views.dll
DowntimeSystem/obj/Release/netcoreapp3.1/PubTmp/Out/DowntimeSystem.Views.pdb
DowntimeSystem/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/customer.js
DowntimeSystem/obj/Release/netcoreapp3.1/Razor/Views/Home/Query.cshtml.g.cs
DowntimeSystem/obj/Release/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DowntimeSystem/Properties/PublishProfiles/IISProfile.pubxml.user
